[Unit]
Description=Update pkgstatus cache

[Service]
Type=oneshot
ExecStart=%h/.local/bin/dotfiles-pkgstatus --refresh
StandardOutput=journal
StandardError=journal
SyslogIdentifier=pkgstatus-update
